<section
  id="element-with-background-image"
  style="background-image: url('<%= customer.cover_image%>')"
>
  <div
    class="slp-col-span-full slp-bg-black slp-bg-opacity-25 slp-p-32 slp-relative"
  >
    <div class="slp-text-white slp-z-10 slp-p-32">
      <img
        src="<%= customer.customer_logo %>"
        alt="<%= customer.title %> logo"
        class="customer-logo"
      />
      <h1 class="slp-text-3xl slp-py-32 md:slp-text-5xl">
        <%= customer.cover_title %>
      </h1>
    </div>
  </div>
</section>

<style>
#element-with-background-image {
  position: relative;
  padding: 0px;
  background-size: cover; /* Resize the background image to cover the entire container */
}

#element-with-background-image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1024px) {
  #element-with-background-image {
    margin-top: -6.4rem;
  }
}

.customer-logo {
  max-width:250px;
  max-height:70px;
}
</style>